.main {
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
}

.logo {
    align-self: center;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

@media(max-width: 900px) {
    .main {
        margin-bottom: 0px;
    }
    
}