.main {
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo {
    align-self: center;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}