
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}
.title {
    font-weight: 500;
    line-height: 10px;
    font-size: 1.875rem;
    font-size: clamp(1.875rem, -1.5261627906976742rem + 4.651162790697675vw, 3.125rem);
}
.userInfoContainer{
    display: flex;
    flex-direction: row;
    gap: 35px;

}