.button {
    height: 48px;
    min-width: 143px;
    max-width: 186px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    cursor: pointer;
    transition-duration: .8s; 
}
.button:hover {
    transform: scale(1.05);
    transition-duration: .8s; 
}